.hidden-section {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
}

.show-section {
  opacity: 1;
  transform: translateY(0);
}
.container{
  transition: all 0.8s ease-out;
   opacity: 1;
  transform: translateY(0);
}

#about{
  background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.6));
  color: white;
}
