/* .hidden-section {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s egit ase-out;
}

.show-section {
  opacity: 1;
  transform: translateY(0);
} */
 body { font-family: 'Arial', sans-serif; scroll-behavior: smooth; }
    .navbar { background: #343a40; }
    .navbar-brand, .nav-link { color: #fff !important; }
    .hero { background: #f8f9fa; padding: 80px 0; text-align: center; }
    .skills span { display: inline-block; background: #007bff; color: #fff; padding: 5px 10px; margin: 5px; border-radius: 5px; }
    .project img { max-width: 100%; border-radius: 5px; transition: transform 0.3s; }
    .project img:hover { transform: scale(1.05); }
    footer { background: #343a40; color: #fff; padding: 20px 0; text-align: center; }
    section { padding: 60px 0; }
    section h2 { margin-bottom: 30px; }
.container{
  transition: all 0.8s ease-out;
   opacity: 1;
  transform: translateY(0);
}

#about{
  background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.6), rgba(0,0,0,0.7))   no-repeat;
 
  color: white;
}
